python -m venv venv #Creates an virtual enviorement
.\venv\Scripts\Activate #Activates virtual enviorement
python -m pip install --upgrade pip #att "pip" to the newest version
pip install "fastapi[standard]" #install fastAPI standart
pip install sqlalchemy pytest #installs pytest for tests and sqlalchemy as orm
pip install psycopg2-binary #installs PostgreSQL driver
